
/* TopNavBar */

.nav-bar-content{
    background-color: #ff4c68;
}

.title{
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1.1rem;
}

.header{
    font-size: 2.4rem;
}

/*Login Page*/

.login-page{
    text-align: center;
    margin: 6% 35% 6% 35%;    
}

.choose-mode{
    margin: 2% 1% 5% 1%;
}

/* TopCarousel */

.carousel{
    background-color: #ff4c68;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

.carousel-div{
    align-items: center;
}

.carousel-item-text{
    align-items: center;  
    color: #fff;
}

.carousel-item-design{
    align-items: right;
}

.carousel-image{
    height: 15rem;
}

/* Dress Item*/

.card-list{
    margin: 3rem 3rem 3rem 3rem;
}

/* Product Page */

.product-detail{
    text-align: center;
}

.product-size{
    margin: 1.5rem 0rem 1.5rem 0rem;
}

.product-count{
    margin: 1.5rem 0rem 1.5rem 0rem;
}

/* Footer */

.copyright-icon{
    padding: 0 1rem 0;
    font-size: 2rem;
}

.footer{
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-color: #fff;
    background-color: #ff4c68;
    color: #fff;
  }

  .link_color{
    text-decoration: none; 
    background-color: none;
    color:#fff;
  }